body{
    background-color: #333334;
    margin: 0;
    padding: 0%;
}

.Tudo{
    font-family: Arial, Helvetica, sans-serif;
}

.Linha{
    display: flexbox;
}

#Cabecalho{
    background-color: #142c5c;
    min-height: 70px;
    min-width: 1820px;
    padding: 30px 50px 10px 50px;  
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0px 0px 15px 0px #242424;
}

#TituloCabecalho{
    color: white;
    float: left;
    min-width: 50%;
    font-size: 16px;
    text-align: left;
    margin-top: -10px;
}

.Menu{
    position: absolute;
    bottom: 0;
    width: 90%;
    text-align: center;
    padding-left: 9%;
    list-style: none;
}

a, a:link, a:hover, a:visited{
    text-decoration: none;
    color: rgb(167, 167, 167);
}

.ItemMenu{
    float: left;
    color: rgb(167, 167, 167);
    text-align: center;
    width: 10.5%;
    padding: 15px;
}

.ItemMenu01{
    float: left;
    color: white;
    text-align: center;
    width: 10.5%;
    padding: 15px;
    border-bottom: 3px white solid;
} 

.ItemMenu01:hover{
    background-color: #021d50;
    opacity: 100%;
} 

.ItemMenu:hover{
    background-color: #021d50;
    opacity: 100%;
} 

.ItemMenu:hover:before {
    background-color: white;
    opacity: 150%;
    visibility: visible;
}

.ItemMenu01:hover:before {
    background-color: white;
    opacity: 150%;
    visibility: visible;
}
  

.risco{
    background-color: white;
	border-radius: 5px;
	height: 2px;
    margin-top: 18px;
}

.temporada{	
    background-color: #333334;
	width: 40%;			
	margin: 0 auto; 
	text-align: left;
    height: 50px;
    box-shadow: 0px 0px 2px 0px #242424;
    padding: 15px 20px 5px 20px;
    margin-top: 110px; 

}

.temporada01{
    color: rgb(167, 167, 167);
    float: left;
    font-size: 12px;
}

.temporada02{
    color: #4484f4;
    float: left;
    font-size: 16px;
}

.grupos{	
    background-color: #242424;
	width: 40%;			
	margin: 0 auto; 
    box-shadow: 0px 0px 5px 0px #333334;
    padding: 25px 20px 5px 20px;
}

.tituloGrupo{
    color: rgb(167, 167, 167);
    font-size: 16px;
}

.tdJogador{
    text-align: left;
    width: 90%;
    color:rgb(167, 167, 167)
}

.spanNomeClube{
    color: darkgray;
    font-size: 12px;
}

td,th{
    color: rgb(167, 167, 167);
}

.imgClube{
    border-radius: 50%;
}

td,th{
    color: rgb(167, 167, 167);
    border-bottom: 0.01cm solid rgb(59, 59, 59);
    padding: 8px;
}

#tabela02{
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}

tr:hover{
    background-color: black;
    opacity: 100%;
} 

tr:hover:before {
    background-color: white;
    opacity: 150%;
    visibility: visible;
}

